* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/* navigation */

.navigation {
    display: flex;
    gap: 30px;
    background-color: #1F2937;
    color: white;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
    font-weight: bold;
}

/* hero */

.hero.section {
    background-color: #1F2937;
    font-size: 24px;
    color: #faf9f8;
    display: flex;
    gap: 50px;
    padding: 100px 200px;
}

.main.text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.secondary.text {
    font-size: 18px;
    color: #e5e7eb;
    padding-top: 20px;
}

.call.to.action {
    background-color: #3882f6;
    color: #e5e7eb;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 900;
    margin-top: 50px;
}

.img.placeholder {
    background-color: grey;
    padding: 100px 180px;
    justify-content: center;
    font-size: 15px;
}

/* information */

.information.heading {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin: 50px;
} 

.images {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0 300px;
}

.sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info.img {
    border: 5px solid rgb(32, 32, 204);
    border-radius: 15px;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

.info.text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 33px;
}

.information {
    margin-bottom: 100px;
}

/* quote */

/* call to action */

/* footer */