* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.logo.text {
    font-size: 24px;
    color: #f9faf8;
}

.main.text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-link, 
.secondary.text {
    font-size: 18px;
    color: #e5e7eb;
}

.call-to-action {
    background-color: #3882f6;
}

/* information */

.information.heading {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.navbar {
    display: flex;
    align-items: center;
    margin: 0px 100px;
    padding: 20px 100px;
    gap: 40px;
    font-weight: bold;
}

.logo.text {
    margin-right: auto;
    font-size: 34px;
}

.header-link {
    font-size: 24px;
}

.hero {
    display: flex;
    margin: 0px 0px 0px 100px;
    padding: 20px 0px 20px 100px;
}

.three {
    flex-wrap: wrap;
}

.img.placeholder {
    width: 400px;
    height: 200px;
    background-color: grey;
    padding: 0px 290px;
    color: white;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: stretch;
}